<!DOCTYPE html>
<html>
<head>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <meta charset="utf-8" />
    <title>Earth Engine Demo</title>
    <link rel="stylesheet" href="../static/css/earthenginedemo.css" />

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Load libraries for the map -->
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Load custom scripts -->
    <script src="../static/js/map_utils.js"></script>
    <script src="../static/js/earthenginedemo.js"></script>
</head>
<body>
    <!-- Navigation bar -->
    <nav class="navbar border-bottom border-body" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1" href="/">GasMaps@UAE</a>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </div>
    </nav>


    <ul class="nav justify-content-center">
      <li class="nav-item">
        <select class="form-select" id="gas-select">
          <option value="SO2">Sulphur Dioxide</option>
          <option value="NO2">Nitrogen Dioxide</option>
          <option value="CO">Carbon Monoxide</option>
          <option value="HCHO">Formaldehyde</option>
          <option value="O3">Ozone</option>
          <option value="CH4">Methane</option>
        </select>
      </li>
      <li class="nav-item">
                <a class="nav-link" href="/trends">Trends</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
      </li>
    </ul>

        <!-- Map Container -->
        <div id="map-container">
            <div id="map"></div>
        </div>
   <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="gasInfoOffcanvas" aria-labelledby="gasInfoOffcanvasLabel">
      <div class="offcanvas-header">
        <h5 id="gasInfoOffcanvasLabel">Gas Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <p>Click on the map to see gas emissions at that point.</p>
        <div id="gasEmissionsInfo"></div>
      </div>
    </div>

        <!-- Add this inside your <body> tag -->
    <div id="legend" style="position: absolute; bottom: 10px; right: 10px; padding: 10px; background: white; z-index: 100;">
      <div id="legend-title">Gas Concentration</div>
      <canvas id="legend-canvas" width="300" height="50"></canvas>
      <div id="legend-min-max">
        <span id="legend-min">Min</span>
        <span id="legend-max" style="float: right;">Max</span>
      </div>
    </div>
    <label for="start-date">Start Date:</label>
    <input type="text" id="start-date" name="start-date">
    <label for="end-date">End Date:</label>
    <input type="text" id="end-date" name="end-date">
    <button id="refresh-layer">Refresh</button>

    <!-- The charts and description cards -->



    <footer>
        <p>Footer content goes here</p>
      <iframe src="https://ee-b00087899.projects.earthengine.app/view/test" width="600" height="400"></iframe>
    </footer>
    <canvas id="no2-chart"></canvas>

<!-- Bootstrap script -->
<script>
$(document).ready(function() {
    $("#start-date").datepicker({
        dateFormat: "yy-mm-dd"
    });
    $("#end-date").datepicker({
        dateFormat: "yy-mm-dd"
    });
});

</script>

<script src="../static/js/map_click_handler.js"></script>
</body>
</html>
